/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --bg: white;
  --text-color: black;
  --btnbg: blue;
  --border:black;
  --formbg: yellow
}


[data-theme="dark"] {
  --bg: black;
  --text-color: grey;
  --btnbg: brown;
  --border:yellow;
  --formbg: white;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  width: 100%;
  height: 100vh;
  color: var(--text-color);
}
form{
  width: 30%;
  padding: 30px;
  border: none;
  box-shadow: 0 0 4px var(--border);
  display: flex;
  flex-direction: column;
  background-color: var(--formbg);
  border-radius: 30px;
  gap: 10px;
}
span{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.btn{
  background-color: var(--btnbg);
}
